{% case block.settings.width %}
{% when '25%' %}
{%- assign block_width = 'medium-up--one-quarter' -%}
{% when '33%' %}
{%- assign block_width = 'medium-up--one-third' -%}
{% when '50%' %}
{%- assign block_width = 'medium-up--one-half' -%}
{% when '66%' %}
{%- assign block_width = 'medium-up--two-thirds' -%}
{% when '75%' %}
{%- assign block_width = 'medium-up--three-quarters' -%}
{% when '100%' %}
{%- assign block_width = 'one-whole' -%}
{% endcase %}
<div class="custom__item custom__item--{{ block.id }} small--one-whole {{ block_width }} {% if block.settings.alignment %}align--{{ block.settings.alignment }}{% endif %}" {{ block.shopify_attributes }}>
  <div class="custom__item-inner custom__item-inner--{{ block.type }}">

    {%- assign product = all_products[block.settings.product] -%}

    {% if product.title.size > 0 %}
    <a href="{{ product.url }}" class="card__wrapper text-center{% if block.settings.show_spacing %} card__wrapper--padding{% endif %}">

      {% if product.featured_image != blank %}
      <div class="card__image-wrapper"  style="padding-top:{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%">
        {% assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
        <img class="card__image lazyload fade-in"
        data-src="{{ img_url }}"
        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
        data-aspectratio="{{ product.featured_image.aspect_ratio }}"
        data-sizes="auto"
        alt="{{ product.featured_image.alt | escape }}">

        <noscript>
          <img src="{{ product.featured_image.src | img_url: '1024x1024' }}" alt="{{ product.featured_image.alt | escape }}" class="card__image">
        </noscript>
      </div>
      {% endif %}

      <div class="card__info">
        <div class="card__brand">{{ product.vendor }}</div>
        <div class="card__name h4">{{ product.title }}</div>

        <div class="card__price">
          {%capture talon_price %}{% include 'talon-price-swap', talon_product:product %}{% endcapture %}{% assign talon_price = talon_price | plus: 0 %}{% if product.compare_at_price > talon_price %}
                  {% comment %}
                    Product is on sale
                    {% endcomment %}
                    {% if product.price_varies %}
                    {%capture talon_price %}{% include 'talon-price-swap', talon_product:product %}{% endcapture %}{% assign talon_price = talon_price | plus: 0 %}{% assign sale_price = talon_price | money_without_trailing_zeros %}
                    {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                    {% else %}
                    <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
                    <span class="card__price--sale">{%capture talon_price %}{% include 'talon-price-swap', talon_product:product %}{% endcapture %}{% assign talon_price = talon_price | plus: 0 %}{{ talon_price | money_without_trailing_zeros }}</span>

                    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                    <span class="card__price--regular-strike">
                      <span class="card__price--regular">{{ product.compare_at_price | money_without_trailing_zeros }}</span>
                    </span>
                    {% endif %}

                    {% else %}
                  {% comment %}
                    Not on sale, but could still have varying prices
                    {% endcomment %}
                    {% if product.price_varies %}
                    {%capture talon_price %}{% include 'talon-price-swap', talon_product:product %}{% endcapture %}{% assign talon_price = talon_price | plus: 0 %}{% assign price = talon_price | money_without_trailing_zeros %}
                    {{ 'products.product.from_text_html' | t: price: price }}
                    {% else %}
                    {%capture talon_price %}{% include 'talon-price-swap', talon_product:product %}{% endcapture %}{% assign talon_price = talon_price | plus: 0 %}{{ talon_price | money_without_trailing_zeros }}
                    {% endif %}

                    {% endif %}
                  </div>
                </div>
              </a>
              {% else %}
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}

              <div class="card__info">
                <div class="card__brand">{{ 'homepage.onboarding.product_vendor' | t }}</div>
                <div class="card__name h4">{{ 'homepage.onboarding.product_title' | t }}</div>
                <div class="card__price">$19.99</div>
              </div>
              {% endif %}

            </div>
          </div>