<div class="featured-blog featured-blog--{{ block.id }}" data-section-id="{{ block.id }}" data-section-type="featured-blog">

  <div class="page-width">
    {% if block.settings.title != blank %}
      <h2 class="featured-blog__heading section-header__title text-center" data-animate>{{ block.settings.title | escape }}</h2>
    {% endif %}

    {%- assign blog = blogs[block.settings.blog] -%}
    {%- assign mobileColumns = 1 -%}

    {% unless blog.articles.size == 1 %}
      {% case block.settings.post_limit %}
        {% when 3 %}
          {%- assign desktopColumns = 3 -%}
          {%- assign width = 'medium-up--one-third' -%}
        {% when 2 %}
          {%- assign desktopColumns = 2 -%}
          {%- assign width = 'medium-up--one-half' -%}
        {% when 1 %}
          {%- assign desktopColumns = 1 -%}
          {%- assign width = 'one-whole' -%}
        {% else %}
          {%- assign desktopColumns = 3 -%}
          {%- assign width = 'medium-up--one-third' -%}
      {% endcase %}
    {% endunless %}

    {% capture emptyBlog %}
      <div class="card-list grid" data-desktop-columns="{{ desktopColumns }}" data-mobile-columns="{{ mobileColumns }}">
        <div class="card-list__column grid__item {{ width }}{% if mobileColumns == 2 %} small--one-half{% endif %}">
          {% for i in (1..block.settings.post_limit)  %}
            <div class="card critical-clear" data-animate>
              <a class="card__wrapper card--article">
                {% if block.settings.blog_show_image %}
                  {% if block.settings.post_limit == 1 %}
                    <div class="medium-up--one-half card-list__column--half-left">
                  {% endif %}
                  <div class="card__image-wrapper">
                    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                    {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                  {% if block.settings.post_limit == 1 %}
                    </div>
                  {% endif %}
                  {% if blog.articles.size == 1 or block.settings.post_limit == 1 %}
                    <div class="medium-up--one-half card-list__column--half-right">
                  {% endif %}
                {% endif %}
                <div class="card__info">
                  <h2 class="card__name h4">{{ 'homepage.onboarding.blog_title' | t }}</h2>
                  {% if block.settings.blog_show_excerpt %}
                    <div class="card__excerpt rte">
                      {{ 'homepage.onboarding.blog_excerpt' | t }}
                    </div>
                  {% endif %}
                  <span class="card__read-more">
                    {{ 'blogs.article.read_more' | t }}
                    {% include 'icon-arrow-right' %}
                  </span>
                </div>
                {% if block.settings.blog_show_image %}
                  {% if blog.articles.size == 1 or block.settings.post_limit == 1 %}
                    </div>
                  {% endif %}
                {% endif %}
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endcapture %}

    {% unless blog.articles_count == 0 %}
      <div class="card-list grid" data-desktop-columns="{{ desktopColumns }}" data-mobile-columns="{{ mobileColumns }}" data-grid-style="{{ block.settings.grid_style }}">
        <div class="card-list__column grid__item {{ width }}{% if mobileColumns == 2 %} small--one-half{% endif %}">
          {% for article in blog.articles limit: block.settings.post_limit %}
            {% include 'featured-article-card', article: article, grid_style: block.settings.grid_style %}
          {% endfor %}
        </div>
      </div>
    {% else %}
      {{ emptyBlog }}
    {% endunless %}

    {% if blog == empty %}
      {{ emptyBlog }}
    {% endif %}

    {% if block.settings.show_view_all %}
      <div class="featured-blog__view-all">
        <a href="{{ blog.url }}" class="btn{% if block.settings.use_second_button %} btn--secondary{% endif %}">
          {{ 'collections.general.view_all' | t }}
        </a>
      </div>
    {% endif %}

  </div>
</div>
