{%- assign image_crop = false -%}

{% if block.settings.image_crop == 'circle' or block.settings.image_crop == 'square' %}
  {%- assign image_crop = true -%}
{% endif %}

<style>
  .feature-row--{{ block.id }} {
    {% if block.settings.background_color != blank %}
      background-color: {{ block.settings.background_color }};
    {% elsif block.settings.background_color == blank and image_crop %}
      background-color: {{ settings.color_secondary_bg }};
    {% endif %}
  }

  {% if image_crop %}
    @media screen and (min-width: 750px) {
      .feature-row--{{ block.id }} .feature-row__image-wrapper {
        background-color: {{ block.settings.background_color | color_lighten: 5 }};
      }
    }
  {% endif %}
</style>

<style>
  #vidoe_popup--{{ block.id }}.video-popup__wrapper{
    {% if image_crop == false %}
	  width: 100%;
    {% endif %}
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #vidoe_popup--{{ block.id }} .video-section__cover-background {

  }

  #vidoe_popup--{{ block.id }} .video-section__cover-text {
    color: {{ block.settings.cover_text_color }}
  }

  #vidoe_popup--{{ block.id }} .video-section__load-player-button-triangle {
    border-left-color: {{ block.settings.cover_text_color }}
  }

  #vidoe_popup--{{ block.id }} .video-section__load-player-button-circle {
    border-color: {{ block.settings.cover_text_color }}
  }
</style>

{% if block.settings.show_overlay %}
  <style>
    #vidoe_popup--{{ block.id }} .video-section__cover-text {
      color: {{ block.settings.overlay_text }};
    }

    #vidoe_popup--{{ block.id }} .video-section__load-player-button-triangle {
      border-left-color: {{ block.settings.overlay_text }};
    }

    #vidoe_popup--{{ block.id }} .video-section__load-player-button.animated .video-section__load-player-button-circle,
    #vidoe_popup--{{ block.id }} .video-section__load-player-button-circle {
      border-color: {{ block.settings.overlay_text }};
    }

    #vidoe_popup--{{ block.id }} .video-section__cover-overlay {
      background-color: {{ block.settings.overlay_color }};
      opacity: {{ block.settings.overlay_opacity | divided_by: 100.0 }};
    }
  </style>
{% endif %}

{%- assign cover_image_url = block.settings.cover_image | img_url : '360x'  -%}

{% if product.metafields.optional.image != blank %}
	{%- assign cover_image_url = product.metafields.optional.image -%}
{% endif %}
  

{% capture video_layout %}
  <div class="feature-row feature-row__item feature-row__image-wrapper">
    <div id="vidoe_popup--{{ block.id }}" class="video-popup__wrapper lazyload {% if image_crop %} feature-row__image-crop{% endif %}" data-section-id="{{ block.id }}" data-section-type="video-section" data-video-id="{{ block.settings.video_url.id }}" data-video-type="{{ block.settings.video_url.type }}" data-bgset="{{cover_image_url}}">
      <div class="video-section__body-overlay"></div>
      <button class="btn btn--clear btn--square video-section__player-close">
        <span class="visually-hidden">{{ 'video.close' | t }}</span>
        {% include 'icon-close' %}
      </button>
      <div class="video-section__player"></div>
      <div class="video-section__cover">
        <div class="video-section__cover-background">
          {% if cover_image_url == blank %}
            {% capture current %}{% cycle 1, 2 %}{% endcapture %}
            {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        </div>
        <div class="video-section__cover-overlay"></div>
        <div class="video-section__cover-content">
          <button class="btn btn--clear video-section__load-player-button">
            <span class="visually-hidden">{{ 'video.play' | t }}</span>
            <div class="video-section__load-player-button-triangle"></div>
            <div class="video-section__load-player-button-circle"></div>
          </button>
          <p class="video-section__error"></p>
        </div>
      </div>
    </div>
  </div>
{% endcapture %}


<div class="feature-row feature-row--{{ block.id }} feature-row--{{ block.settings.size }} feature-row__image-crop--{{ block.settings.image_crop }}{% if block.settings.mobile_layout == 'bottom' %} feature-row-mobile--bottom{% endif %}" data-section-id="{{ block.id }}" data-section-type="feature-row">
  {% if block.settings.desktop_layout == 'left' %}
    {{ image_layout }}
  {% endif %}

  <div class="feature-row__item feature-row__text">
    {% if product.metafields.optional.title != blank %}
      <h2 class="feature-row__heading h3 separator" data-animate>{{ product.metafields.optional.title | escape }}</h2>
    {% elsif block.settings.content-title != blank %}
      <h2 class="feature-row__heading h3 separator" data-animate>{{ block.settings.content-title | escape }}</h2>
    {% endif %}
    
	{% if product.metafields.optional.description != blank %}
      <div class="rte-setting featured-row__subtext">{{ product.metafields.optional.description }}</div>
    {% elsif block.settings.text != blank %}
      <div class="rte-setting featured-row__subtext">{{ block.settings.text }}</div>
    {% endif %}
  </div>

  {% if block.settings.desktop_layout == 'right' %}
    {{ video_layout }}
  {% endif %}
</div>

