<style>
  #featured-slider-{{ block.id }} .featured-slider__slides-container {
    background-color: {{ block.blocks[0].settings.background_color }}
  }

  #featured-slider-{{ block.id }} .featured-slider__close-icon .icon {
    fill: {{ block.settings.text_color }};
  }

  #featured-slider-{{ block.id }} .pinch-indicator {
    background-color: {{ block.settings.text_color }};
  }

  {% if block.settings.show_overlay %}
    #featured-slider-{{ block.id }} .featured-slider__cover-title {
      color: {{ block.settings.overlay_text }};
      border-color: {{ block.settings.overlay_text }};
    }

    #featured-slider-{{ block.id }} .pinch-indicator {
      background-color: {{ block.settings.overlay_text }};
    }

    #featured-slider-{{ block.id }} .featured-slider__cover-background:after {
      background-color: {{ block.settings.overlay_color }};
      opacity: {{ block.settings.overlay_opacity }};
    }
  {% endif %}
</style>

<div id="featured-slider-{{ block.id }}" class="featured-slider" data-section-id="{{ block.id }}" data-section-type="featured-slider">
  <div class="featured-slider__cover">
    <div class="featured-slider__cover-background featured-slider__cover-background--top reveal-slider__cover-background--top side-scroller__cover-background">
      {% if block.settings.cover_image == blank %}
        {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
      {% else %}
        <div class="featured-slider__cover-background-image lazyload" data-bgset="{% include 'bgset', image: block.settings.cover_image %}"></div>
        <noscript>
          <div class="featured-slider__cover-background-image lazyload" style="background-image: {{ block.settings.cover_image | img_url: 'master' }}"></div>
        </noscript>
      {% endif %}
    </div>
    <div class="featured-slider__cover-background featured-slider__cover-background--bottom reveal-slider__cover-background--bottom">
      {% if block.settings.cover_image == blank %}
        {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
      {% else %}
        <div class="featured-slider__cover-background-image lazyload" data-bgset="{% include 'bgset', image: block.settings.cover_image %}"></div>
        <noscript>
          <div class="featured-slider__cover-background-image lazyload" style="background-image: {{ block.settings.cover_image | img_url: 'master' }}"></div>
        </noscript>
      {% endif %}
    </div>

    <div class="featured-slider__cover-content reveal-slider__cover-content side-scroller__cover-content{% if block.settings.cover_title_desktop_position == 'left' %} featured-slider__cover-content--left{% endif %}">
      <h2 class="featured-slider__cover-title h3"{% if block.settings.show_overlay %} style="color: {{ block.settings.overlay_text }}; border-color: {{ block.settings.overlay_text }};"{% endif %} data-animate>{{ block.settings.cover_title }}</h2>
      <div class="pinch-indicators">
        <div class="pinch-indicator pinch-indicator--top"></div>
        <div class="pinch-indicator pinch-indicator--bottom"></div>
      </div>
    </div>
  </div>

  <div class="featured-slider__slides-container side-scroller__slides-container slider" tabindex="-1">

    <button class="btn btn--clear featured-slider__close reveal-slider__close">
      <span class="featured-slider__close-icon">{% include 'icon-close' %}</span>
      <span class="featured-slider__close-circle" style="border-color: {{ block.settings.text_color }}"></span>
    </button>

    <div class="featured-slider__slide-list">
      {% for block in block.blocks %}
        <div class="featured-slider__slide side-scroller__slide slider__slide{% if forloop.first %} slider__slide--active {% endif %}" data-background-color="{{ block.settings.background_color }}" {{ block.shopify_attributes }}>
          <div class="featured-slider__slide-content">
            {% if block.settings.show_image %}
              {% if block.settings.slide_image %}
                <div class="featured-slider__slide-image-container" style="padding-top: {{ 1 | divided_by: block.settings.slide_image.aspect_ratio | times: 100}}%">
                  {% assign img_url = block.settings.slide_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                  <img class="featured-slider__slide-image lazyload"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                    data-aspectratio="{{ block.settings.slide_image.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ block.settings.slide_image.alt | escape }}">
                </div>
              {% else %}
                {% capture placeholder_class %}placeholder-svg placeholder-svg-{{ forloop.index }} featured-slider__slide-image{% endcapture %}
                {{ 'product-' | append: forloop.index | placeholder_svg_tag: placeholder_class }}
              {% endif %}
            {% endif %}
            {% if block.settings.slide_title != blank %}
              <h3 class="featured-slider__slide-title h6" style="color: {{ block.settings.text_color }}">{{ block.settings.slide_title }}</h3>
            {% endif %}

            {% if block.settings.slide_button_text != blank %}
              <a class="btn featured-slider__slide-link{% if block.settings.use_second_button %} btn--secondary{% endif %}" href="{{ block.settings.slide_button_url }}">{{ block.settings.slide_button_text }}</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="reveal-slider__nav">
      {% for block in block.blocks %}
        <button class="reveal-slider__nav-button{% if forloop.first %} active{% endif %}" style="background-color: {{ block.settings.text_color }}">
          <span class="visually-hidden">{{ 'sections.slider.slide' | t: number: forloop.index }}</span>
        </button>
      {% endfor %}
    </div>

    <div class="reveal-slider__previous">
      <button class="reveal-slider__previous-button">
        <span class="visually-hidden">{{ 'sections.slider.previous_slide' | t }}</span>
      </button>
    </div>

    <div class="reveal-slider__next">
      <button class="reveal-slider__next-button">
        <span class="visually-hidden">{{ 'sections.slider.next_slide' | t }}</span>
      </button>
    </div>

  </div>
</div>
