<style>
  #VideoSection--{{ block.id }} .video-section__cover-background {
    background-color: {{ block.settings.background_color }};
    background-position: {{ block.settings.cover_image_position }};
  }

  #VideoSection--{{ block.id }} .video-section__cover-text {
    color: {{ block.settings.cover_text_color }}
  }

  #VideoSection--{{ block.id }} .video-section__load-player-button-triangle {
    border-left-color: {{ block.settings.cover_text_color }}
  }

  #VideoSection--{{ block.id }} .video-section__load-player-button-circle {
    border-color: {{ block.settings.cover_text_color }}
  }
</style>

{% if block.settings.show_overlay %}
  <style>
    #VideoSection--{{ block.id }} .video-section__cover-text {
      color: {{ block.settings.overlay_text }};
    }

    #VideoSection--{{ block.id }} .video-section__load-player-button-triangle {
      border-left-color: {{ block.settings.overlay_text }};
    }

    #VideoSection--{{ block.id }} .video-section__load-player-button.animated .video-section__load-player-button-circle,
    #VideoSection--{{ block.id }} .video-section__load-player-button-circle {
      border-color: {{ block.settings.overlay_text }};
    }

    #VideoSection--{{ block.id }} .video-section__cover-overlay {
      background-color: {{ block.settings.overlay_color }};
      opacity: {{ block.settings.overlay_opacity | divided_by: 100.0 }};
    }
  </style>
{% endif %}

<div id="VideoSection--{{ block.id }}" class="video-section lazyload" data-section-id="{{ block.id }}" data-section-type="video-section" data-video-id="{{ block.settings.video_url.id }}" data-video-type="{{ block.settings.video_url.type }}" data-bgset="{% include 'bgset', image: block.settings.cover_image %}">
  <div class="video-section__body-overlay"></div>
  <button class="btn btn--clear btn--square video-section__player-close">
    <span class="visually-hidden">{{ 'video.close' | t }}</span>
    {% include 'icon-close' %}
  </button>
  <div class="video-section__player"></div>
  <div class="video-section__cover">
    <div class="video-section__cover-background">
      {% if block.settings.cover_image == blank %}
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
    <div class="video-section__cover-overlay"></div>
    <div class="video-section__cover-content">
      {% if block.settings.cover_text != blank %}
        <h3 class="video-section__cover-text">{{ block.settings.cover_text }}</h3>
      {% endif %}
      <button class="btn btn--clear video-section__load-player-button">
        <span class="visually-hidden">{{ 'video.play' | t }}</span>
        <div class="video-section__load-player-button-triangle"></div>
        <div class="video-section__load-player-button-circle"></div>
      </button>
      <p class="video-section__error"></p>
    </div>
  </div>
</div>
