<div class="list-collections-template" data-section-id="{{ block.id }}" data-section-type="list-collections-template">
  <div class="page-width">
    <div class="grid text-center">
      <div class="grid__item medium-up--ten-twelfths medium-up--push-one-twelfth">
        <header class="section-header">
          <h1 class="section-header__title h2">{{ 'collections.general.all' | t }}</h1>
        </header>
      </div>
    </div>

    {%- assign desktopColumns = block.settings.products -%}
    {%- assign mobileColumns = '1' -%}

    {%- capture gridClasses -%}
      {% if desktopColumns == '3' %}medium-up--one-third {% else %}medium-up--one-half {% endif %}
      {% if mobileColumns == '2' %}small--one-half {% endif %}
    {%- endcapture -%}

    <div class="card-list grid" data-desktop-columns="{{ desktopColumns }}" data-mobile-columns="{{ mobileColumns }}" data-grid-style="{{ block.settings.grid_style }}">
      <div class="card-list__column grid grid__item {{ gridClasses }}">
        {% if block.settings.display_type == 'all' %}
          {% case block.settings.sort %}
            {% when 'products_high' or 'products_low' %}
              {%- assign collections = collections | sort: 'all_products_count' -%}
            {% when 'date' or 'date_reversed' %}
              {%- assign collections = collections | sort: 'published_at' -%}
          {% endcase %}
          {% if block.settings.sort == 'products_low' or block.settings.sort == 'date' or block.settings.sort == 'alphabetical' %}
            {% for collection in collections %}
              {% unless collection.handle == 'frontpage' %}
                {% include 'collection-card', collection: collection, width: block.settings.products, grid_style: block.settings.grid_style %}
              {% endunless %}
            {% endfor %}
          {% else %}
            {% for collection in collections reversed %}
              {% unless collection.handle == 'frontpage' %}
                {% include 'collection-card', collection: collection, width: block.settings.products, grid_style: block.settings.grid_style %}
              {% endunless %}
            {% endfor %}
          {% endif %}
        {% else %}
          {% for block in block.blocks %}
            {%- assign collection = collections[block.settings.collection] -%}
            {% include 'collection-card', collection: collection, width: block.settings.products, grid_style: block.settings.grid_style %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
