<style>
  #featured-slider-{{ block.id }} .featured-slider__slides-container {
    background-color: {{ block.blocks[0].settings.background_color }}
  }

  #featured-slider-{{ block.id }} .featured-slider__close-icon .icon {
    fill: {{ block.settings.text_color }};
  }

  #featured-slider-{{ block.id }} .pinch-indicator {
    background-color: {{ block.settings.text_color }};
  }

  {% if block.settings.show_overlay %}
    #featured-slider-{{ block.id }} .featured-slider__cover-title {
      color: {{ block.settings.overlay_text }};
      border-color: {{ block.settings.overlay_text }};
    }

    #featured-slider-{{ block.id }} .pinch-indicator {
      background-color: {{ block.settings.overlay_text }};
    }

    #featured-slider-{{ block.id }} .featured-slider__cover-background:after {
      background-color: {{ block.settings.overlay_color }};
      opacity: {{ block.settings.overlay_opacity }};
    }
  {% endif %}
</style>

<div id="featured-slider-{{ block.id }}" class="featured-slider" data-section-id="{{ block.id }}" data-section-type="featured-slider">
  <div class="featured-slider__cover">
    <div class="featured-slider__cover-background featured-slider__cover-background--top reveal-slider__cover-background--top side-scroller__cover-background">
      {% if product.metafields.feature.main != blank %}
      	<div class="featured-slider__cover-background-image lazyload" data-bgset="{{product.metafields.feature.main }}"></div>
        <noscript>
          <div class="featured-slider__cover-background-image lazyload" style="background-image: {{ product.metafields.feature.main | img_url: 'master' }}"></div>
        </noscript>
      {% elsif block.settings.cover_image != blank %}
        <div class="featured-slider__cover-background-image lazyload" data-bgset="{% include 'bgset', image: block.settings.cover_image %}"></div>
        <noscript>
          <div class="featured-slider__cover-background-image lazyload" style="background-image: {{ block.settings.cover_image | img_url: 'master' }}"></div>
        </noscript>
      {% else %}
	    {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
    <div class="featured-slider__cover-background featured-slider__cover-background--bottom reveal-slider__cover-background--bottom">
      {% if product.metafields.feature.main != blank %}
      	<div class="featured-slider__cover-background-image lazyload" data-bgset="{{product.metafields.feature.main}}"></div>
        <noscript>
          <div class="featured-slider__cover-background-image lazyload" style="background-image: {{ block.settings.cover_image | img_url: 'master' }}"></div>
        </noscript>
      {% elsif block.settings.cover_image != blank %}
        <div class="featured-slider__cover-background-image lazyload" data-bgset="{% include 'bgset', image: block.settings.cover_image %}"></div>
        <noscript>
          <div class="featured-slider__cover-background-image lazyload" style="background-image: {{ block.settings.cover_image | img_url: 'master' }}"></div>
        </noscript>
      {% else %}
	    {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>

    <div class="featured-slider__cover-content reveal-slider__cover-content side-scroller__cover-content{% if block.settings.cover_title_desktop_position == 'left' %} featured-slider__cover-content--left{% endif %}">
      <h2 class="featured-slider__cover-title h3"{% if block.settings.show_overlay %} style="color: {{ product.metafields.feature.main_title }}; border-color: {{ block.settings.overlay_text }};"{% endif %} data-animate>{{ product.metafields.feature.main_title }}</h2>
      <div class="pinch-indicators">
        <div class="pinch-indicator pinch-indicator--top"></div>
        <div class="pinch-indicator pinch-indicator--bottom"></div>
      </div>
    </div>
  </div>

  <div class="featured-slider__slides-container side-scroller__slides-container slider" tabindex="-1">

    <button class="btn btn--clear featured-slider__close reveal-slider__close">
      <span class="featured-slider__close-icon">{% include 'icon-close' %}</span>
      <span class="featured-slider__close-circle" style="border-color: {{ block.settings.text_color }}"></span>
    </button>

    <div class="featured-slider__slide-list">
	  {% if product.metafields.feature.img1 != blank %}
      <div class="featured-slider__slide side-scroller__slide slider__slide slider__slide--active">
        <div class="featured-slider__slide-content">
          <div class="featured-slider__slide-image-container" style="padding-top: 98.50000000000001%">
            <img class="featured-slider__slide-image lazyload"
                 data-src="{{ product.metafields.feature.img1 }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-sizes="auto"
                 alt="a">
          </div>
          {% if product.metafields.feature.img1_desc  != blank %}
          <h3 class="featured-slider__slide-title h6">{{ product.metafields.feature.img1_desc }}</h3>
          {% endif %}
        </div>
      </div>
      {% endif %}
	  {% if product.metafields.feature.img2 != blank %}
      <div class="featured-slider__slide side-scroller__slide slider__slide">
        <div class="featured-slider__slide-content">
          <div class="featured-slider__slide-image-container" style="padding-top: 98.50000000000001%">
            <img class="featured-slider__slide-image lazyload"
                 data-src="{{ product.metafields.feature.img2 }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-sizes="auto"
                 alt="a">
          </div>
          {% if product.metafields.feature.img2_desc  != blank %}
          <h3 class="featured-slider__slide-title h6">{{ product.metafields.feature.img2_desc }}</h3>
          {% endif %}
        </div>
      </div>
      {% endif %}
	  {% if product.metafields.feature.img3 != blank %}
      <div class="featured-slider__slide side-scroller__slide slider__slide">
        <div class="featured-slider__slide-content">
          <div class="featured-slider__slide-image-container" style="padding-top: 98.50000000000001%">
            <img class="featured-slider__slide-image lazyload"
                 data-src="{{ product.metafields.feature.img3 }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-sizes="auto"
                 alt="a">
          </div>
          {% if product.metafields.feature.img3_desc  != blank %}
          <h3 class="featured-slider__slide-title h6">{{ product.metafields.feature.img3_desc }}</h3>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>

    <div class="reveal-slider__nav">
      <button class="reveal-slider__nav-button active" style="background-color: {{ block.settings.text_color }}">
        <span class="visually-hidden">{{ 'sections.slider.slide' | t: number: 0 }}</span>
      </button>
      <button class="reveal-slider__nav-button active" style="background-color: {{ block.settings.text_color }}">
        <span class="visually-hidden">{{ 'sections.slider.slide' | t: number: 1 }}</span>
      </button>
      <button class="reveal-slider__nav-button active" style="background-color: {{ block.settings.text_color }}">
        <span class="visually-hidden">{{ 'sections.slider.slide' | t: number: 2 }}</span>
      </button>
    </div>

    <div class="reveal-slider__previous">
      <button class="reveal-slider__previous-button">
        <span class="visually-hidden">{{ 'sections.slider.previous_slide' | t }}</span>
      </button>
    </div>

    <div class="reveal-slider__next">
      <button class="reveal-slider__next-button">
        <span class="visually-hidden">{{ 'sections.slider.next_slide' | t }}</span>
      </button>
    </div>

  </div>
</div>
