<style>
  .feature-row--{{ block.id }} {
    {% if block.settings.background_color != blank %}
      background-color: {{ block.settings.background_color }};
    {% elsif block.settings.background_color == blank and image_crop %}
      background-color: {{ settings.color_secondary_bg }};
    {% endif %}
  }

</style>

<div class="product-review product-review--{{ block.id }} product-review--{{ block.settings.size }} {% if block.settings.mobile_layout == 'bottom' %} product-review-mobile--bottom{% endif %}" data-section-id="{{ block.id }}" data-section-type="product-review">
	
  <div class="product-review__header">
    {% if block.settings.content-title != blank %}
      <h2 class="feature-row__heading h3 separator" data-animate>{{ block.settings.content-title | escape }}</h2>
    {% endif %}
    {% comment %}
    {% if block.settings.content-description != blank %}
      <div class="rte-setting">{{ block.settings.content-description }}</div>
    {% endif %}
    {% endcomment %}
  </div>
  <div class="product-review__slider-wrapper">
    <div class="product_image--slider custom-review-slide">
      {% if product.metafields.review.review1_testimonial != blank %}
      <div class="product-review__slide-container">
        <div class="product-review__testimonial">
          <div class="product-review__testimonial-icon">
            <div class="product-review__cover-background-image lazyload" data-bgset="{{product.metafields.review.review1_icon}}"></div>
          </div>
          <div class="product-review__testimonial-content">
	        {{product.metafields.review.review1_testimonial}}
          </div>
          <div class="product-review__testimonial-writer">
            <span>{{product.metafields.review.review1_writer}}</span>
          </div>
        </div>
      </div>
      {% endif%}
      {% if product.metafields.review.review2_testimonial != blank %}
      <div class="product-review__slide-container">
        <div class="product-review__testimonial">
          <div class="product-review__testimonial-icon">
            <div class="product-review__cover-background-image lazyload" data-bgset="{{product.metafields.review.review2_icon}}"></div>
          </div>
          <div class="product-review__testimonial-content">
	        {{product.metafields.review.review2_testimonial}}
          </div>
          <div class="product-review__testimonial-writer">
            <span>{{product.metafields.review.review2_writer}}</span>
          </div>
        </div>
      </div>
      {% endif%}
      {% if product.metafields.review.review3_testimonial != blank %}
      <div class="product-review__slide-container">
        <div class="product-review__testimonial">
          <div class="product-review__testimonial-icon">
            <div class="product-review__cover-background-image lazyload" data-bgset="{{product.metafields.review.review3_icon}}"></div>
          </div>
          <div class="product-review__testimonial-content">
	        {{product.metafields.review.review3_testimonial}}
          </div>
          <div class="product-review__testimonial-writer">
            <span>{{product.metafields.review.review3_writer}}</span>
          </div>
        </div>
      </div>
      {% endif%}
      {% if product.metafields.review.review4_testimonial != blank %}
      <div class="product-review__slide-container">
        <div class="product-review__testimonial">
          <div class="product-review__testimonial-icon">
            <div class="product-review__cover-background-image lazyload" data-bgset="{{product.metafields.review.review4_icon}}"></div>
          </div>
          <div class="product-review__testimonial-content">
	        {{product.metafields.review.review4_testimonial}}
          </div>
          <div class="product-review__testimonial-writer">
            <span>{{product.metafields.review.review4_writer}}</span>
          </div>
        </div>
      </div>
      {% endif%}
      {% if product.metafields.review.review5_testimonial != blank %}
      <div class="product-review__slide-container">
        <div class="product-review__testimonial">
          <div class="product-review__testimonial-icon">
            <div class="product-review__cover-background-image lazyload" data-bgset="{{product.metafields.review.review5_icon}}"></div>
          </div>
          <div class="product-review__testimonial-content">
	        {{product.metafields.review.review5_testimonial}}
          </div>
          <div class="product-review__testimonial-writer">
            <span>{{product.metafields.review.review5_writer}}</span>
          </div>
        </div>
      </div>
      {% endif%}
    </div>
  </div>
</div>

