<style>
  .highlight--{{ block.id }} .highlight__line {
    background-color: {{ block.settings.border_color }};
  }
</style>

<div class="highlight highlight--{{ block.id }} highlight--align-{{ block.settings.content_alignment }}" data-section-id="{{ block.id }}" data-section-type="highlight-section">
  <div class="page-width page-width--narrow">
    <div class="highlight__wrapper">
      <div class="highlight__image-container highlight__image-container--{{ block.settings.image_position }}">
        {% if block.settings.image == blank %}
          {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg highlight__image highlight__image--placeholder' }}
        {% else %}
          <div class="highlight__image-wrapper" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100}}%">
            {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            <img class="highlight__image lazyload"
              data-src="{{ img_url }}"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ block.settings.image.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ block.settings.image.alt | escape }}">
          </div>
        {% endif %}
      </div>
      <div class="highlight__content-container">
        <h2 class="feature-row__heading h3 separator" data-animate>{{ block.settings.heading }}</h2>
        <p>{{ block.settings.text }}</p>
        {% if block.settings.button_text != blank %}
          <a class="btn{% if block.settings.use_second_button %} btn--secondary{% endif %}" href="{{ block.settings.button_link }}">{{ block.settings.button_text }}</a>
        {% endif %}
      </div>

      <div class="highlight__border" data-animate>
        <div class="highlight__line highlight__line--top"></div>
        <div class="highlight__line highlight__line--right"></div>
        <div class="highlight__line highlight__line--bottom"></div>
        <div class="highlight__line highlight__line--left"></div>
      </div>
    </div>
  </div>
</div>
