<style>
  #MapSection--{{ block.id }} {
    background-position: {{ block.settings.background_image_position }};
    background-size: cover;
  }

  #MapSection--{{ block.id }} .map-section__overlay {
    background-color: {{ block.settings.overlay_color }};
    opacity: {{ block.settings.overlay_opacity | divided_by: 100.0 }};
  }
</style>

<div id="MapSection--{{ block.id }}" class="map-section lazyload" data-section-id="{{ block.id }}" data-section-type="map" data-bgset="{% include 'bgset', image: block.settings.background_image %}">
  {% if block.settings.title != blank or block.settings.address != blank %}
    <div class="page-width">
      <div class="map-section__content-wrapper">
        <div class="map-section__content">
          {% if block.settings.map_title != blank %}
            <h3 class="h4">{{ block.settings.map_title | escape }}</h3>
          {% endif %}
          {% if block.settings.address != blank %}
            <div class="map-section__address rte-setting">{{ block.settings.address }}</div>
            {% if block.settings.button_text != blank %}
              <a href="https://maps.google.com?daddr={{ block.settings.map_address }}" class="btn-link map-section__button" target="_blank">{{ block.settings.button_text }}</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
  <a class="map-section__link" href="https://www.google.ca/maps/place/{{ block.settings.map_address }}" target="_blank" aria-label="{{ block.settings.map_address }}"></a>
  <div class="map-section__container" id="Map-{{ block.id }}" data-address-setting="{{ block.settings.map_address }}" data-api-key="{{ block.settings.api_key }}"></div>
  <div class="map-section__overlay"></div>
  <div class="map-section__error-message"></div>
</div>
