{% if block.settings.show_overlay %}
  <style>
    #Slideshow-{{ block.id }} .slideshow__overlay::before {
      background-color: {{ block.settings.overlay_color }};
      opacity: {{ block.settings.overlay_opacity }};
    }

    #Slideshow-{{ block.id }} .slideshow__heading,
    #Slideshow-{{ block.id }} .slideshow__button-label {
      color: {{ block.settings.overlay_text }};
    }
  </style>
{% endif %}

<div data-section-id="{{ block.id }}" data-section-type="slideshow-section">
  <div id="Slideshow-{{ block.id }}" class="slideshow">
    {% if block.blocks.size > 0 %}
      <div class="slideshow__slides">

        {% for block in block.blocks %}
          <div class="slideshow__slide slideshow__slide--{{ block.id }}{% if forloop.first %} slideshow__slide--active{% endif %}{% if block.settings.show_overlay %} slideshow__overlay{% endif %}" {% unless forloop.first %}aria-hidden="true"{% endunless %} {{ block.shopify_attributes }}>

            {% if block.settings.image == blank %}
              <div class="slideshow__image slideshow__image--{{ block.id }}">
                <div class="placeholder-background">
                  {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                  {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              </div>
            {% else %}
              {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}

              <style>
                .slideshow__image--{{ block.id }} {
                  object-position: {{ block.settings.alignment }};
                  font-family: "object-fit: cover; object-position: {{ block.settings.alignment }};";
                }
              </style>

              <img class="slideshow__image slideshow__image--{{ block.id }} lazyload"
                  src="{{ block.settings.image | img_url: '300x' }}"
                  data-src="{{ img_url }}"
                  data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                  data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                  data-sizes="auto"
                  data-parent-fit="cover"
                  alt="{{ block.settings.image.alt | escape }}">
            {% endif %}

            {% if block.type == 'video' and block.settings.video_url != blank %}
              <div class="slideshow__video slideshow__video--{{ block.id }}"
                data-video-type="{{ block.settings.video_url.type }}"
                data-video-id="{{ block.settings.video_url.id }}"></div>
            {% endif %}

            <div class="slideshow__text-container page-width">
              <div class="slideshow__text-content" data-animate>
                {% if block.settings.title != blank %}
                  <h2 class="slideshow__heading h1">
                    {{ block.settings.title | escape }}
                  </h2>
                  {% if block.blocks.size == 1 and block.settings.cta_link != blank %}
                    <a href="{{ block.settings.cta_link }}" class="slideshow__heading-cta btn">
                      {{ block.settings.cta | escape }}
                    </a>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="slideshow__image slideshow__image--{{ block.id }}{% if block.settings.show_overlay %} slideshow__overlay{% endif %}">
        <div class="placeholder-background">
          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      </div>
    {% endif %}

    {% if block.blocks.size > 1 %}
      <button class="slideshow__button--next critical-hide">
        <span class="visually-hidden">{{ 'sections.slider.next_slide' | t}}</span>
      </button>

      <div class="slideshow__buttons critical-hide" data-count="{{ block.blocks.size }}">
        {% for block in block.blocks %}
          <div class="slideshow__button slideshow__button--{{ block.blocks.size }}{% if block.settings.cta_link != blank %} slideshow__button--link{% endif %}">
            <button class="slideshow__button-label text-title btn--clear">
              <span class="visually-hidden">{{ 'sections.slider.slide' | t: number: forloop.index }}</span>
              {{ block.settings.button }}
            </button>

            {% if block.settings.cta_link != blank %}
              <a href="{{ block.settings.cta_link }}" class="slideshow__button-cta slideshow__button-cta--mobile medium-up--hide btn" tabindex="-1">
                <span class="visually-hidden">{{ block.settings.cta | escape }}</span>
                {% include 'icon-plus' %}
              </a>
            {% else %}
              <div class="slideshow__button-cta slideshow__button-cta--mobile medium-up--hide btn" tabindex="-1">
                <span class="visually-hidden">{{ block.settings.cta | escape }}</span>
                {% include 'icon-plus' %}
              </div>
            {% endif %}

            {% if block.settings.cta_link != blank %}
              <a href="{{ block.settings.cta_link }}" class="slideshow__button-cta slideshow__button-cta--desktop small--hide btn" tabindex="-1">
                {{ block.settings.cta | escape }}
              </a>
            {% else %}
              <div class="slideshow__button-cta slideshow__button-cta--desktop small--hide btn" tabindex="-1">
                {{ block.settings.cta | escape }}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>

      <button class="slideshow__button--previous critical-hide">
        <span class="visually-hidden">{{ 'sections.slider.previous_slide' | t}}</span>
      </button>
    {% endif %}
  </div>

  {% if block.blocks.size > 1 %}
    <div class="slideshow__nav">
      {% for block in block.blocks %}
        <button class="slideshow__nav-dot{% if forloop.first %} slideshow__nav-dot--active{% endif %} critical-clear">
          <span class="visually-hidden">{{ 'sections.slider.slide' | t: number: forloop.index }}</span>
        </button>
      {% endfor %}
    </div>
  {% endif %}
</div>
