{% case block.settings.width %}
{% when '25%' %}
{%- assign block_width = 'medium-up--one-quarter' -%}
{% when '33%' %}
{%- assign block_width = 'medium-up--one-third' -%}
{% when '50%' %}
{%- assign block_width = 'medium-up--one-half' -%}
{% when '66%' %}
{%- assign block_width = 'medium-up--two-thirds' -%}
{% when '75%' %}
{%- assign block_width = 'medium-up--three-quarters' -%}
{% when '100%' %}
{%- assign block_width = 'one-whole' -%}
{% endcase %}
<div class="custom__item custom__item--{{ block.id }} small--one-whole {{ block_width }} {% if block.settings.alignment %}align--{{ block.settings.alignment }}{% endif %}" {{ block.shopify_attributes }}>
  <div class="custom__item-inner custom__item-inner--{{ block.type }}">

    <style>
    .custom-content-wrapper--{{ block.id }} .custom__item--{{ block.id }} .custom__block-heading-text {
      color: {{ block.settings.heading_color }};
    }

    .custom-content-wrapper--{{ block.id }} .custom__item--{{ block.id }} .custom__block-body-text {
      color: {{ block.settings.paragraph_color }};
      font-size: {{ block.settings.paragraph_size | append: 'em' }};
    }
  </style>


  <div class="text-{{ block.settings.align_text }}">
    {% if block.settings.heading_text != blank %}
    <h2 class="custom__block-heading-text {{ block.settings.heading_style }}">{{ block.settings.heading_text | escape }}</h2>
    {% endif %}
    {% if block.settings.paragraph_text != blank %}
    <div class="custom__block-body-text rte-setting">{{ block.settings.paragraph_text }}</div>
    {% endif %}
  </div>

</div>
</div>