<style>
  .feature-row--{{ section.id }} {
    {% if section.settings.background_color != blank %}
      background-color: {{ section.settings.background_color }};
    {% elsif section.settings.background_color == blank and image_crop %}
      background-color: {{ settings.color_secondary_bg }};
    {% endif %}
  }
.product-review {
    margin-top: 0;
}
.product-review .product-review__header {
    padding-top: 80px;
}
</style>

<div class="product-review product-review--{{ section.id }} product-review--{{ section.settings.size }} {% if section.settings.mobile_layout == 'bottom' %} product-review-mobile--bottom{% endif %}" data-section-id="{{ section.id }}" data-section-type="product-review"   style="background-color: {{ product.metafields.reviews.rv_background_col }}; background-image: url({{ product.metafields.reviews.rv_background_img }}); background-position: center center; background-size: cover; background-repeat: no-repeat;">
	
  <div class="product-review__header">
    {% if section.settings.content-title != blank %}
      <h2 class="feature-row__heading h3 separator" data-animate>{{ section.settings.content-title | escape }}</h2>
    {% endif %}
    {% comment %}
    {% if section.settings.content-description != blank %}
      <div class="rte-setting">{{ section.settings.content-description }}</div>
    {% endif %}
    {% endcomment %}
  </div>
  <div class="product-review__slider-wrapper">
    <div class="product_image--slider custom-review-slide">
      {% if product.metafields.review.review1_testimonial != blank %}
      <div class="product-review__slide-container">
        <div class="product-review__testimonial">
          <div class="product-review__testimonial-icon">
            <div class="product-review__cover-background-image lazyload" data-bgset="{{product.metafields.review.review1_icon}}"></div>
          </div>
          <div class="product-review__testimonial-content">
	        {{product.metafields.review.review1_testimonial}}
          </div>
          <div class="product-review__testimonial-writer">
            <span>{{product.metafields.review.review1_writer}}</span>
          </div>
        </div>
      </div>
      {% endif%}
      {% if product.metafields.review.review2_testimonial != blank %}
      <div class="product-review__slide-container">
        <div class="product-review__testimonial">
          <div class="product-review__testimonial-icon">
            <div class="product-review__cover-background-image lazyload" data-bgset="{{product.metafields.review.review2_icon}}"></div>
          </div>
          <div class="product-review__testimonial-content">
	        {{product.metafields.review.review2_testimonial}}
          </div>
          <div class="product-review__testimonial-writer">
            <span>{{product.metafields.review.review2_writer}}</span>
          </div>
        </div>
      </div>
      {% endif%}
      {% if product.metafields.review.review3_testimonial != blank %}
      <div class="product-review__slide-container">
        <div class="product-review__testimonial">
          <div class="product-review__testimonial-icon">
            <div class="product-review__cover-background-image lazyload" data-bgset="{{product.metafields.review.review3_icon}}"></div>
          </div>
          <div class="product-review__testimonial-content">
	        {{product.metafields.review.review3_testimonial}}
          </div>
          <div class="product-review__testimonial-writer">
            <span>{{product.metafields.review.review3_writer}}</span>
          </div>
        </div>
      </div>
      {% endif%}
      {% if product.metafields.review.review4_testimonial != blank %}
      <div class="product-review__slide-container">
        <div class="product-review__testimonial">
          <div class="product-review__testimonial-icon">
            <div class="product-review__cover-background-image lazyload" data-bgset="{{product.metafields.review.review4_icon}}"></div>
          </div>
          <div class="product-review__testimonial-content">
	        {{product.metafields.review.review4_testimonial}}
          </div>
          <div class="product-review__testimonial-writer">
            <span>{{product.metafields.review.review4_writer}}</span>
          </div>
        </div>
      </div>
      {% endif%}
      {% if product.metafields.review.review5_testimonial != blank %}
      <div class="product-review__slide-container">
        <div class="product-review__testimonial">
          <div class="product-review__testimonial-icon">
            <div class="product-review__cover-background-image lazyload" data-bgset="{{product.metafields.review.review5_icon}}"></div>
          </div>
          <div class="product-review__testimonial-content">
	        {{product.metafields.review.review5_testimonial}}
          </div>
          <div class="product-review__testimonial-writer">
            <span>{{product.metafields.review.review5_writer}}</span>
          </div>
        </div>
      </div>
      {% endif%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Review",
  "class": "index-section index-section--product-review",
  "settings": [
    {
      "type": "select",
      "id": "size",
      "label": "Section height",
      "default": "medium",
      "options": [
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra Large",
          "value": "x-large"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#faf9f6"
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "content-title",
      "label": "Heading",
      "default": "default heading"
    },
    {
      "type": "text",
      "id": "content-description",
      "label": "Description",
      "default": "default text"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "limit": 5,
      "settings": [
        {
          "type": "color",
          "id": "background_color",
          "label": "Background color",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "checkbox",
          "id": "show_image",
          "label": "Show slide image",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Text"
        },
        {
          "type": "text",
          "id": "slide_title",
          "label": "Author",
          "default": "Author"
        },
		{
          "type": "text",
          "id": "slide_description",
          "label": "Text",
          "default": "Example text"
        },
        {
          "type": "text",
          "id": "slide_button_text",
          "label": "Button label",
          "default": "View"
        },
        {
          "type": "url",
          "id": "slide_button_url",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Review",
      "category": "Advanced layout",
	  "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}

