<style>
.blog-tags {
  margin-top: 70px;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
}
.blog-tags a{
  /*color: #244b5a;*/
  padding: 5px 10px;
  color: #002f3c;
  text-decoration: none;
  font-size: 1.5rem;
}
.blog-tags span {
  /*color: #f7b300;*/
  color: #d29000;
  font-size: 2.5rem;
  font-weight: 100;
  font-family: 'scotch_roman_mtregular';
}
header h1.section-header__title.h2 {
  font-weight: 600;
  font-size: 5.5rem;
  letter-spacing: 1.5px;
}
header h2.custom-content__section-header.text-center {
  font-size: 2.2rem;
  max-width: 380px;
  margin: auto;
  margin-top: 20px;
}
.section-header--small {
  margin: 50px 0 90px;
}
.post-list > div {
  overflow: hidden;
}
.blog-post-recent {
  overflow: hidden;
}
.blog-post-recent > div {
  float: left;
}
.blog-template hr.underline {
  border: 2px solid #f7b300;
  margin: 0;
  width: 55px;
}
.blog-template h1.card__name {
  font-size: 1.8rem;
  text-transform: uppercase;
}
.blog-template h3.card__name {
  font-size: 2rem;
  font-weight: 600;
}
.post-list-last.medium-up--two-thirds {
  width: 66.16665%;
}
.post-list-last a.card__wrapper .card__image{
  position: initial;
  position: inherit;
  width: 100%;
}
.post-list-recent {
  padding-left: 20px;
}
.post-list-recent .card__image-wrapper {
  width: 110.45px;
}
.post-list-recent a.card__wrapper {
  display: inline-flex;
}
.post-list-recent a.card__wrapper .card__image{
  position: initial;
  position: inherit;
  float: left;
  width: 94px;
  height: 94px;
}
.post-list-recent a.card__wrapper .card__info {
  float: left;
  padding: 5px 15px!important;
}
.post-list-recent h1.card__name {
  font-size: 1.5rem;
  text-align: left;
}
.post-list-recent  h3.card__name {
  font-size: 1.8rem;
  font-family: 'scotch_roman_mtregular';
  text-align: left;
}
.post-list-recent .card__info hr.underline {
  border: 1.5px solid #f7b300;
  width: 45px;
}
.post-list-card {
  margin-top: 18px;
}
.critical-clear .card__image-wrapper::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(245,167,0);
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
.critical-clear .card__image-wrapper:hover::after {
    opacity: 0.4;
}
.post-list-card .card__info {
  text-align: right;
  padding: 14px 0 0;
}
.card__wrapper {
  margin-bottom: 14px;
}
.post-list-card .card__info hr.underline {
  margin: 0 auto;
}
.post-list-card span.card__date {
  margin-top: 10px;
  text-align: center;
}
.post-list-card h1.card__name {
  text-align: center;
}
.post-list-card h3.card__name {
  margin-top: 10px;
  text-align: center;
  font-family: 'scotch_roman_mtregular';
}
.post-list-card .card__excerpt.rte {
  text-align: justify;
}
.post-list-card .card__image-wrapper--aligned {
  padding-top: 52%;
}
.post-list-card .card__read-more {
  position: relative;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  color: #f5a801;
  margin-right: 22px;
}
.post-list-card a.card__wrapper {
  height: inherit!important;
  height: initial!important;
}
@media only screen and (max-width: 750px) {
  .blog-post-recent{
    display: none;
  }
}
</style>

<div class="blog-template" data-section-id="{{ section.id }}" data-section-type="blog-template">


  <div class="page-width">

    <div class="blog-tags">
      <a href="{{ shop.url }}/blogs/news">All</a>
      {% for tag in blog.all_tags %}
      <span>|</span> <a href="{{ shop.url }}/blogs/news/tagged/{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </div>

    <header class="section-header section-header--small text-center">
      <h1 class="section-header__title h2">{{ page_title }}</h1>
      {% if section.settings.heading_text != blank %}
      <h2 class="custom-content__section-header text-center">{{ section.settings.heading_text | escape }}</h2>
      {% endif %}
    </header>



    <div class="blog-post-recent">

      <div class="post-list-last medium-up--two-thirds">
        <div class=" ">
          {% for article in blog.articles limit: 1%}
          {% include 'sa-article-last'%}
          {% endfor %}
        </div>
      </div>

      <div class="post-list-recent medium-up--one-third">
        <div class=" ">
          {% for article in blog.articles limit: 3%}
          {% include 'sa-article-list'%}
          {% endfor %}
        </div>
      </div>
    </div>


    {%- assign limit = section.settings.articles | times: section.settings.rows -%}

    {% paginate blog.articles by limit %}

    {%- assign desktopColumns = section.settings.articles -%}
    {%- assign mobileColumns = '1' -%}

    {%- capture gridClasses -%}
    {% if desktopColumns == '3' %}medium-up--one-third {% else %}medium-up--one-half {% endif %}
    {% if mobileColumns == '2' %}small--one-half {% endif %}
    {%- endcapture -%}


    <div class="post-list-card card-list grid" data-desktop-columns="{{ desktopColumns }}" data-mobile-columns="{{ mobileColumns }}" data-grid-style="{{ section.settings.grid_style }}">
      <div class="card-list__column grid__item {% if blog.articles.size == 1 %}card-list__column--center{% endif %} {{ gridClasses }}">
        {% for article in blog.articles %}
        {% include 'sa-article-card', article: article, grid_style: section.settings.grid_style %}
        {% endfor %}
      </div>
    </div>


    {% if blog.articles.size == 0 %}
    <p class="text-center">{{ 'blogs.article.no_matches' | t }}</p>
    {% endif %}

    {% if paginate.pages > 1 %}
    <div class="card-list__sub-actions">
      {% include 'pagination' %}
    </div>
    {% endif %}

    {% endpaginate %}



  </div>

</div>

{% schema %}
{
  "name": "Blog",
  "settings": [
  {
    "type": "text",
    "id": "heading_text",
    "label": "Sub Heading",
    "default": "Sub heading goes here..."
  },
  {
    "type": "select",
    "id": "grid_style",
    "label": "Grid style",
    "default": "collage",
    "options": [
    {
      "value": "collage",
      "label": "Collage"
    },
    {
      "value": "grid",
      "label": "Grid"
    }
    ]
  },
  {
    "type": "select",
    "id": "articles",
    "label": "Articles per row",
    "default": "3",
    "options": [
    {
      "value": "2",
      "label": "2"
    },
    {
      "value": "3",
      "label": "3"
    }
    ]
  },
  {
    "type": "select",
    "id": "rows",
    "label": "Rows per page",
    "default": "4",
    "options": [
    {
      "value": "2",
      "label": "2"
    },
    {
      "value": "3",
      "label": "3"
    },
    {
      "value": "4",
      "label": "4"
    },
    {
      "value": "5",
      "label": "5"
    },
    {
      "value": "6",
      "label": "6"
    }
    ]
  },
  {
    "type": "checkbox",
    "id": "blog_show_date",
    "label": "Show date",
    "default": false
  },
  {
    "type": "checkbox",
    "id": "blog_show_tags",
    "label": "Show tags",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "blog_show_excerpt",
    "label": "Show excerpt",
    "default": false
  },
  {
    "type": "checkbox",
    "id": "blog_show_more",
    "label": "Show read more",
    "default": false
  }
  ]
}
{% endschema %}
