<div data-section-id="{{ section.id }}" data-section-type="slideshow-section">
  {% if section.blocks.size > 0 %}
  <div class="main-slider">
    {% for block in section.blocks %}
      {% if block.settings.slide_enable %}
      <div class="main-slider_slide {{block.settings.sliderclass}} {% if block.settings.iframedata != blank %}iframe{% endif %}">
        <img class="slideshow_image-desk slideshow_image" src="{{ block.settings.image | img_url: 'master' }}">
        <img class="slideshow_image-mob slideshow_image" src="{{ block.settings.mob_image | img_url: 'master' }}">
        
        {% if block.settings.badgetitle != blank %}
        <div class="badge-banner" data-animate>
          <div class="badge-banner-text">{{block.settings.badgetitle}}</div>
        </div>
        {% endif %}
        
        <div class="slideshow-container">
          <div class="slideshow_text-content">
            {% if block.settings.title != blank %}
            <h2 class="slideshow_heading h1" data-animate>
              {{ block.settings.title }}
            </h2>
            {% if block.settings.text != blank %}
            <div class="slideshow_sub-title" data-animate>
              <p>{{ block.settings.text }}</p>
            </div>
            {% endif %}
            {% if block.settings.text != blank %}
            <div class="slideshow_time-title" data-animate>
              <p>{{ block.settings.timetitle }}</p>
            </div>
            {% endif %}
            <div class="slideshow_review" data-animate>
              <img src="{{ 'reviews.png' | asset_url }}" alt="Review" class="review-icon">
            </div>
            {% if block.settings.text != blank %}
            <div class="slideshow_author-name" data-animate>
              <p>{{ block.settings.authorname }}</p>
            </div>
            {% endif %}
            {% if block.settings.cta_link != blank %}
            <a href="{{ block.settings.cta_link }}" class="slideshow_btn btn" data-animate>{{ block.settings.cta_text | escape }}</a>
            {% endif %}
            {% endif %}
          </div>
        </div>
        
        {% if block.settings.iframedata != blank %}
        <div class="slideshow_iframe-content">
          <div class="video-wrapper" data-animate>
            {{block.settings.iframedata}}
          </div>
        </div>
        {% endif %}
        

        {% if block.settings.gauranteeimage != blank %}
          <div class="guaranty-caption guaranty-img" data-animate>
            <img class="" src="{{ block.settings.gauranteeimage | img_url: 'master' }}">
          </div>
        {% else %}
          {% if block.settings.gauranteetitle != blank %}
          <div class="guaranty-caption" data-animate>
            <div class="caption-table has-animated">
              <div class="caption-middle">
                {{block.settings.gauranteetitle}}
              </div>
            </div>
          </div>
          {% endif %}
        {% endif %}
      </div>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Slideshow",
  "class": "index-section index-section--slideshow",
  "max_blocks": 5,
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "Image slide",
      "settings": [
        {
          "type": "checkbox",
          "id": "slide_enable",
          "label": "Slider Enable"
        },
		{
          "type": "text",
          "id": "sliderclass",
          "label": "Slider Class"
        },
		{
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
		{
          "type": "image_picker",
          "id": "mob_image",
          "label": "Mobile Image (767px width recommended)"
        },
        {
          "type": "header",
          "content": "Text"
        },
        {
          "type": "text",
          "id": "badgetitle",
          "label": "Badge Text"
        },
		{
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Tell your story"
        },
    	{
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store."
      	},
        {
          "type": "text",
          "id": "authorname",
          "label": "Author Name"
        },
        {
          "type": "text",
          "id": "timetitle",
          "label": "Timing Text"
        },
		{
          "type": "header",
          "content": "Iframe Section"
        },
		{
          "type": "textarea",
          "id": "iframedata",
          "label": "Iframe embed code"
        },
		{
          "type": "text",
          "id": "gauranteetitle",
          "label": "Gaurantee Caption",
          "default": "30 Day Guarantee"
        },
		{
          "type": "image_picker",
          "id": "gauranteeimage",
          "label": "Gaurantee Image"
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "Button title"
        },
        {
          "type": "url",
          "id": "cta_link",
          "label": "Button link"
        }
      ]
    }
  ]
}
{% endschema %}
